<% paginate @candies %>
<h1><%= @candy.name %></h1>

<ul>
  <li>Chocolate: <%= @candy.chocolate %></li>
  <li>Fruity: <%= @candy.fruity %></li>
  <li>Caramel: <%= @candy.caramel %></li>
  <li>Peanuty/Almondy: <%= @candy.peanuty_almondy %></li>
  <li>Nougat: <%= @candy.nougat %></li>
  <li>Crisped Rice Wafer: <%= @candy.crisped_rice_wafer %></li>
  <li>Hard: <%= @candy.hard %></li>
  <li>Bar: <%= @candy.bar %></li>
  <li>Sugar Percentage: <%= @candy.sugar_percentage %></li>
</ul>

