<header class="container has-background-grey-light">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <div class="is-flex is-vcentered">
        <h1 class="title is-1 pr-3">A Heap of</h1> 
        <p class="is-flex is-vcentered"><%= image_tag("heap_of.png", style: 'height:5vw') %></p>
    </div>
    <div class="navbar has-background-grey-lighter">
        <div class="navbar-item">
            <h3 class="title is-3"><%= link_to 'Candies', candies_path %></h3>
        </div>
        <div class="navbar-item">
            <h3 class="title is-3"><%= link_to 'Halloween Movies', halloween_movies_path %></h3>
        </div>
        <div class="navbar-item">
            <h3 class="title is-3"><%= link_to 'IMDB Horror Movies', imdb_horror_movies_path %></h3>
        </div>
    </div>
</header>
<div class="container">
    <section class="section">
        <p>Everything here is Halloween-related! Appropriate, if you ask me ;) So, here lies all the candy and Halloween-themed movies you can think of.</p>
        <p>Each of the three datasets have their own page. The three datasets (links above) can be chosen from the home page (here).</p>
    </section>
    <section class="section">
        <h2 class="title is-2">Candy Dataset</h2>
        <p>A database table has been created for the Candy dataset. Each candy has the following fields (columns):</p>
        <ul>
            <li>name (string)</li>
            <li>chocolate (integer)</li>
            <li>fruity (integer)</li>
            <li>caramel (integer)</li>
            <li>peanuty_almondy (integer)</li>
            <li>nougat (integer)</li>
            <li>crisped_rice_wafer (integer)</li>
            <li>hard (integer)</li>
            <li>bar (integer)</li>
            <li>Includes: created_at/updated_at (datetime)</li>
            <li>sugar_percentage (decimal)</li>
            <li>sugar_id (integer & index)</li>
        </ul>
        <p>Note: the integer values for the Candy dataset are 1s and 0s with 1 meaning true and 0 meaning false.</p>
        <p>A Sugar database table has also been created to hold sugar_percentage values that are associated with Candies.</p>
        <p>Users will be able to search the database by candy name and restrict their search to a certain sugar percentage. The different categories of candies (1s and 0s columns) will have different links (pages) as well.</p>
    </section>
    <section class="section">
        <h2 class="title is-2">Halloween Movies Dataset</h2>
        <p>The HalloweenMovie database table contains the following columns:</p>
        <ul>
            <li>title (string)</li>
            <li>image (string - they are URLs)</li>
            <li>Includes: created_at/updated_at (datetime)</li>
        </ul>
        <p>Users may search the database by movie name. An alphabetical list will also be available as a link (separate page).</p>
    </section>
    <section class="section">
        <h2 class="title is-2">IMDB Horror Movies Dataset</h2>
        <p>A database table was created for the IMDB Horror Movies dataset with the following columns:</p>
        <ul>
            <li>title (string)</li>
            <li>release_country (string)</li>
            <li>rating (decimal)</li>
            <li>run_time (string)</li>
            <li>language (string)</li>
            <li>Includes: created_at/updated_at (datetime)</li>
            <li>release_date (string)</li>
            <li>release_date_id (integer & index)</li>
        </ul>
        <p>A ReleaseDate database table was created to hold release_dates associated with IMDBHorrorMovies.</p>
        <p>Users may search the database by movie name and restrict their search to an associated release_date.There will also be a link (page) to view this list by rating (highgest to lowest).</p>
    </section>
    <section class="section">
        <h2 class="title is-2">Halloween Datasets ERD</h2>
        <p><%= image_tag("halloween_datasets_erd.png", style: 'height:40vw') %></p>
    </section>
</div>
