<header>
  <h1>ImdbHorrorMovies by Rating</h1>
  <div>
    <h3><%= link_to 'Back to All IMDB Horror Movies', imdb_horror_movies_path %></h3>
    <h3><%= link_to 'Home', home_path %></h3>
  </div>
</header>
<table>
	<tr>
		<th>Title</th>
		<th>Release Date</th>
		<th>Release Country</th>
		<th>Rating</th>
		<th>Run Time</th>
		<th>Language</th>
	</tr>

<% @imdb_movies.each do |imdb_movie| %>
	<tr>
		<td><%= link_to imdb_movie.title, imdb_horror_movie_path(imdb_movie.id) %></td>
		<td><%= imdb_movie.release_date %></td>	
		<td><%= imdb_movie.release_country %></td>
		<td><%= imdb_movie.rating %></td>
		<td><%= imdb_movie.run_time %></td>
		<td><%= imdb_movie.language %></td>
	</tr>
<% end %>
</table>
<%= paginate @imdb_movies %>
