<header>
  <h1><%= @imdb_movie.title %></h1>
  <div>
    <h3><%= link_to 'Back to All IMDB Horror Movies', imdb_horror_movies_path %></h3>
    <h3><%= link_to 'Home', home_path %></h3>
  </div>
</header>
<ul>
  <li>Release Date: <%= @imdb_movie.release_date %></li>
  <li>Release Country: <%= @imdb_movie.release_country %></li>
  <li>Rating: <%= @imdb_movie.rating %></li>
  <li>Run Time: <%= @imdb_movie.run_time %></li>
  <li>Language: <%= @imdb_movie.language %></li>
</ul>
